@import '../../../styles/icons.scss';
@import '../../../styles/variables.barnas';

.pagination {
  display: block;

  &__list {
    margin: 0;
    padding: 2px 1px;
    list-style: none;
    background: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid $paginationBorderColor;
    border-radius: $buttonBorderRadius;
    box-shadow: 0 1px 1px rgba(#000, .1);
  }

  &__item {
    position: relative;
    padding: 0 1px;

    &:not(:last-child) {
      border-right: 1px solid $paginationBorderColor;
    }

    &:first-child .pagination__link {
      border-radius: $buttonBorderRadius 0 0 $buttonBorderRadius;
    }

    &:last-child .pagination__link {
      border-radius: 0 $buttonBorderRadius $buttonBorderRadius 0;
    }

    @media (max-width: 767px) {
      display: none;

      &:last-child,
      &:first-child {
        display: block;
      }
    }

    &:first-child {
      .pagination__link::after {
        border-radius: $buttonBorderRadius 0 0 $buttonBorderRadius;
      }
    }

    &:last-child {
      .pagination__link::after {
        border-radius: 0 $buttonBorderRadius $buttonBorderRadius 0;
      }
    }
  }

  &__item-first {
    .pagination__link-icon {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__item-last {
    .pagination__link-icon {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__link {
    display: block;
    color: $paginationLinkColor;
    font: 700 14px/20px $fontFamily;
    padding: 6px 5px;
    min-width: 40px;
    min-height: 32px;
    text-align: center;
    text-decoration: none;
    transition: background-color .35s, color .35s;
    background: transparent;
    border: none;
    cursor: pointer;

    @media (max-width: 767px) {
      padding: 4px 10px;
    }

    &:hover {
      text-decoration: none;
      color: $paginationLinkColor;
      background: $paginationLinkHoverBg;
    }

    &:not(span):hover:active {
      background-color: darken($paginationLinkActiveBg, 15%);
      color: darken($paginationLinkColor, 30%);
    }

    &_disabled {
      pointer-events: none;

      .pagination__link-icon {
        color: rgba(#000, .1);
      }
    }

    &_current {
      pointer-events: none;
      color: $paginationLinkCurrentColor;
      position: relative;
      z-index: 10;
      background: rgba($paginationLinkHoverBg, .5);
    }
  }

  &__link-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.8);
  }

}
