@import '../../../styles/variables.barnas';

.tabs {
  &__header-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__body {
    &-item {
      display: none;
      padding: $tabsContentPadding 0;

      &_active {
        display: block;
      }
    }
  }

  &_direction {
    &_horizontal {
      .tabs__header {
        position: relative;
        border-bottom: 2px solid $tabsBorderColor;
      }

      .tabs__header-list {
        flex-direction: row;
      }

      &.tabs_mod_v1 {
        .tabs__active-line {
          display: block;
          position: absolute;
          bottom: -2px;
          width: 100px;
          height: 2px;
          background: $primaryColor;
          transform: translateX(0);
          transition: all 250ms ease;
        }
      }

      &.tabs_mod_v2 {
        .tabs__caption {
          min-width: 140px;
          border: 2px solid transparent;
          border-bottom: 0;
          border-radius: $buttonBorderRadius $buttonBorderRadius 0 0;
          background: #fff;
          position: relative;

          &_active {
            border-color: $tabsBorderColor;
            color: $textColor;

            &::after {
              position: absolute;
              content: '';
              bottom: -2px;
              left: 0;
              width: 100%;
              height: 2px;
              background: #fff;
            }
          }
        }
      }

      &.tabs_mod_v3 {
        .tabs__header {
          border: 0;
        }

        .tabs__caption {
          min-width: 152px;
          border: 2px solid $tabsBorderColor;
          border-radius: $buttonBorderRadius;

          &_active {
            border-color: currentColor;
          }

          &:not(:last-child) {
            margin-right: $tabsContentPadding;
          }
        }
      }
    }

    &_vertical {
      display: flex;
      flex-direction: row;

      .tabs__header {
        flex-basis: 128px;
      }

      .tabs__header-list {
        flex-direction: column;
      }

      .tabs__caption {
        border-right: 2px solid $tabsBorderColor;
        text-align: left;

        &_active {
          border-color: $primaryColor;
        }
      }

      .tabs__body {
        flex-grow: 1;

        &-item {
          padding: 8px 16px;
          line-height: 1.5;
        }
      }
    }
  }

  &__caption {
    display: block;
    cursor: pointer;
    padding: 8px 16px;
    color: #a09b95;
    font: 400 16px/1.5 $fontFamily;
    text-align: center;

    &_active {
      color: $primaryColor;
    }
  }
}
